---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Brands from '~/components/widgets/Brands.astro';
import DiegoTorresImg from '~/assets/images/diegotorres.jpg';
import CarolinaCuencaImg from '~/assets/images/carolinacuenca.jpeg';
import EdwardVazquezImg from '~/assets/images/edward_vasquez.png';



---

<Layout >
  <Fragment slot="header">
    <Header
    links={[
      { text: 'Home', href: '#' },
      { text: 'Nosotros', href: '#about' },
      { text: 'Tecnologías', href: '#technologies' },
      { text: 'Testimonios', href: '#testimonials' },
      { text: 'Contacto', href: '#contact' },
    ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <Hero2
    actions={[
      { variant: 'primary', text: 'Contactanos', href: '#contact' },
      { text: 'Saber mas', href: '#about' },
    ]}
  >
    <Fragment slot="title">  
      Transformamos <br /> Tus ideas en<br /><span class="text-accent dark:text-white highlight"
        >Soluciones <br />Digitales <br />Innovadoras</span
      > <br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Descubre el potencial <span class="font-semibold">ilimitado</span> de tu negocio con nuestra experiencia en desarrollo de software.</span
      >
      Desde conceptos revolucionarios hasta soluciones prácticas, estamos aquí para llevar tus ideas al siguiente nivel.<br />
      ¡Únete a nosotros en la era de la innovación digital!

    </Fragment>
  </Hero2>


  <Features
  id="about"
  title="¿Por qué elegir Thorque Software?"
  subtitle="Transformando ideas en soluciones tecnológicas."
  columns={2}
  items={[
    {
      title: 'Experiencia a tu servicio',
      description:
        'Con años de experiencia en la industria del desarrollo de software, en Thorque Software combinamos nuestro conocimiento profundo con un enfoque profesional para ofrecerte soluciones robustas y confiables.',
      icon: 'tabler:medal',
    },
    {
      title: 'Calidad garantizada',
      description: `En Thorque Software, la calidad es nuestra máxima prioridad. Desde el primer boceto hasta el producto final, nos comprometemos a mantener los más altos estándares en cada etapa del proceso de desarrollo.`,
      icon: 'tabler:checkbox',
    },
    {
      title: 'Impulsados por la innovación',
      description:
        'Nos mantenemos a la vanguardia de las últimas tendencias y tecnologías para ofrecerte soluciones innovadoras que marquen la diferencia. En Thorque Software, estamos constantemente explorando nuevas ideas y enfoques para impulsar tu negocio hacia adelante en un mundo digital en constante evolución.',
      icon: 'tabler:rocket',
    },
    {
      title: 'Tu éxito es nuestro objetivo',
      description: `En Thorque Software, no somos solo un proveedor de servicios, somos tu socio tecnológico. Nos comprometemos a entender tus necesidades y objetivos específicos para ofrecerte soluciones personalizadas que se adapten perfectamente a tu visión y maximicen tu éxito.`,
      icon: 'tabler:trophy',
    },
    {
      title: 'Transparencia y comunicación abierta',
      description: `Creemos en la transparencia y la comunicación abierta en todas nuestras interacciones contigo. Mantenemos líneas de comunicación claras y te mantenemos informado en cada paso del proceso de desarrollo para garantizar que estés completamente satisfecho con el progreso y los resultados.`,
      icon: 'tabler:brand-hipchat',
    },
    {
      title: 'Siempre a tu lado',
      description: `Nuestro compromiso con el cliente no termina con la entrega del producto. Estamos aquí para ofrecerte soporte continuo, resolver cualquier problema que surja y adaptar nuestras soluciones según tus necesidades cambiantes.`,
      icon: 'tabler:heart-handshake',
    },
  ]}
  />



  <Brands
  id="technologies"
  title="Nuestras tecnologías"
  subtitle="Herramientas avanzadas para soluciones innovadoras."
  icons={[]}
  images={[
    {
      src: 'https://desarrolloweb.com/storage/tag_images/actual/F2Cam6JmHqcvyb6Y0GVl7lSCqA4tEYLMufLm5OHo.png',
      alt: 'Tailwind',
    },
    {
      src: 'https://devtop.io/wp-content/uploads/2022/10/react.png',
      alt: 'React',
    },
    {
      src: 'https://blog.codewithdan.com/wp-content/uploads/2023/06/Docker-Logo.png',
      alt: 'Docker',
    },

    {
      src: 'https://niixer.com/wp-content/uploads/2020/11/acloud.png',
      alt: 'AWS',
    },
    {
      src: 'https://blog.marksauerutley.com/static/d0050d0772fd9db5ec35f7b69a66b609/6af66/tslogo.png',
      alt: 'TypeScript',
    },
    {
      src: 'https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_1280.png',
      alt: 'Node JS',
    },
    {
      src: 'https://miro.medium.com/v2/resize:fit:787/1*IYEvbY1IRNoXRTuAIWpERQ.png',
      alt: 'SQL',
    },
    {
      src: 'https://1000logos.net/wp-content/uploads/2020/08/Django-Logo.png',
      alt: 'Django',
    },
    {
      src: 'https://ignitedigital.com/wp-content/uploads/2023/02/Cloudflare_Logo.png',
      alt: 'CloudFare',
    },
  ]}
  />



  <Testimonials
  id="testimonials"
  title="Algunos testimonios de nuestros clientes"
  testimonials={[
    {
      testimonial: `Thorque nos ha proporcionado herramientas innovadoras para gestionar de manera eficiente nuestras operaciones agrícolas, mejorar la comunicación con los agricultores y clientes, y aumentar nuestra productividad y rentabilidad. Estamos encantados con los resultados y el impacto positivo que la app ha tenido en nuestro negocio.`,
      name: 'Carolina Cuenca',
      job: 'Agribusiness Ecuador',
      image: {
        src: CarolinaCuencaImg,
        alt: 'Carolina Cuenca Image',
      },
    },
    {
      testimonial: `Nuestra colaboración en diversos proyectos ha sido clave para potenciar nuestro negocio inmobiliario. Trabajar con un equipo competente ha mejorado nuestra eficiencia operativa y la experiencia del cliente. Estamos encantados con los resultados obtenidos.`,
      name: 'Diego Torres',
      job: 'Rebora Arquitectos',
      image: {
        src: DiegoTorresImg,
        alt: 'Diego Torres Image',
      },
    },
    {
      testimonial: `Trabajar con un equipo creativo y experto ha permitido ofrecer una plataforma de alta calidad con contenido variado y actualizado. Gracias a esta colaboración, hemos logrado atraer a una audiencia más amplia y mejorar la experiencia de los usuarios. Estamos muy satisfechos con el resultado y el impacto positivo en nuestra presencia en línea.`,
      name: 'Edward Vazquez',
      job: 'LatinoX',
      image: {
        src: EdwardVazquezImg,
        alt: 'Edward Vazquez Image',
      },
    },
  ]}
/>



  <ContactUs
    id="contact"
    title="¿Listo para dar el siguiente paso? Contáctanos"
    subtitle="Nos encantaría saber más sobre tus proyectos y explorar cómo podemos colaborar para lograr tus objetivos. Ponte en contacto con nosotros para discutir tus ideas y resolver tus dudas. Estamos aquí para convertir tus visiones en realidad."
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Nombre',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Mensaje',
    }}
    description="Nuestro equipo de soporte suele responder en un plazo de 24 horas hábiles."
    button = 'Enviar'
  />

