<style>
    .canvas-container {
      width: 100%;
      height: 400px;
      overflow: hidden;
      position: relative;
    }
  </style>
  
  <div class="canvas-container" id="earth-container"></div>
  <script src="/scripts/earth.js" type="module"></script>